In [11]:
#함수 7번

def getIntRange(a,b,msg):
  c = 0
  while c < a or c > b:
    c = int(input(msg))
  return c


d = getIntRange(1,12,"월을 입력 : ")
e = getIntRange(1,31,"일을 입력 : ")

print(f"{d}월 {e}일입니다.")

4월 1일입니다.

In [ ]:
#함수 8번

0

In [20]:
scores = [32,56,64,72,12,37,98,77,59,69]

print(scores)
print(type(scores))

for i in range (len(scores)):
  print(i, scores[i])

[32, 56, 64, 72, 12, 37, 98, 77, 59, 69]
<class 'list'>
0 32
1 56
2 64
3 72
4 12
5 37
6 98
7 77
8 59
9 69

In [21]:
scores = [32,56,64,72,12,37,98,77,59,69]

for i in range(len(scores)):
  scores[i] = i*10
  print(scores[i])

0
10
20
30
40
50
60
70
80
90

In [23]:
list1 = list()
list2 = list("Hello")
list3 = list(range(0,5))

print(list1)
print(list2)
print(list3)

[]
['H', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4]

In [24]:
text = "Will is power"
print(text[0],text[3],text[-1])
flist = ["apple", "banana", "tomato", "peach", "pear"]
print(flist[0],flist[3],flist[-1])

W l r
apple peach pear

In [31]:
a = [1,2,3,4,5]
b=a[:]
print(b)
b[0] = 100
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [34]:
shopping_list = ["두부","양배추","딸기"]
shopping_list.insert(2,"생수")
print(shopping_list)

['두부', '양배추', '생수', '딸기']

In [41]:
list1 = [3,2,1,5,4]
list2 = [3,2,1,5,4]
list1.sort()
list3 = sorted((list2),reverse=True)
print(list1)
print(list3)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [45]:
#리스트 1번

list1 = [10,20,30]
sum = 0
x = int(input("정수를 입력하세요 : "))

for i in range(len(list1)):
  sum = list1[i] + x
  print(sum)

15
25
35

In [ ]:
#리스트 2번

import random
list1 = []

for i in range(10):
  x = random.randrange(1,100)
  list1.append(x)
print(list1)

<function list2 at 0x000002144CBC6FC0>

In [42]:
#리스트 3번

list1 = [20,1,12,9,18]

for i in range(len(list1)):
  print(f"{list1[i]} : ")
  z = list1[i]
  for y in range(z):
    print("*",end="")
  print("\n")

20 :
********************

1 :
*

12 :
************

9 :
*********

18 :
******************

In [67]:
#리스트 4번

def minuslist(x):
  print("실행 전",x)
  x_after = [-i if 3<=i and i<=8 else i for i in x]
  print("실행 후", x_after)
  
x = [1,2,3,4,5,6,7,8,9,10]

minuslist(x)

실행 전 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
실행 후 [1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [ ]:
#리스트 8번
def single_list(alist):
  aset=set(alist)
  non_same=list(aset)
  return non_same

def same_element(list1,list2):
  same_list=[i for i in list1 for j in list2 if i==j]
  only=single_list(same_list)
  print("결과 = ", only)
  
a = [1,2,3,4,5]
b = [1,3,3,4,5,6,7]
print("a=",a)
print("b=",b)
same_element(a,b)

a= [1, 2, 3, 4, 5]
b= [1, 3, 3, 4, 5, 6, 7]
결과 =  [1, 3, 4, 5]

In [72]:
t = (1,2,'hello')
print(t)
t = (10,)
print(t)

(1, 2, 'hello')
(10,)

In [75]:
t1 = (1,2,3,4,5)
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [79]:
numbers = (1,2,3,4,5)
colors = ("red","green","blue")
t = numbers + colors
print(t)

(1, 2, 3, 4, 5, 'red', 'green', 'blue')

In [81]:
student1 = ("철수",19,"CS")
(name,age,major)= student1
print(name)
print(age)
print(major)

철수
19
CS

In [104]:
fruits = {"Apple","Banana","Pineapple"}
mySet = {1.0,2.0,"Hello World",(1,2,3)}
cities = {"Paris","Seoul","London", "Berlin", "Paris","Seoul"}

print(fruits)
print(mySet)
print(cities)

{'Apple', 'Banana', 'Pineapple'}
{1.0, 2.0, (1, 2, 3), 'Hello World'}
{'Seoul', 'Paris', 'London', 'Berlin'}

In [ ]:
numbers = {2,1,3}
for x in numbers:
  print(x,end="")
print()
for x in sorted(numbers):
  print(x,end="")

123
123

In [114]:
numbers = {2,1,3}
numbers.add(4)
print(numbers)

numbers.clear()
print(numbers)

{1, 2, 3, 4}
set()

In [ ]:
A = {1,2,3}
B = {1,2,3}
print(A == B)

A = {1,2,3,4,5}
B = {1,2,3}
print(B < A)

print(B.issuperset(A))

True
True
False

In [ ]:
contacts = {"kim":'01012345678',"park":'01012345679',"lee":'010123456780'}
print(contacts["kim"])
contacts.get("kim")
print(contacts.pop('kim'))
print(contacts)

01012345678
01012345678
{'park': '01012345679', 'lee': '010123456780'}

In [ ]:
#튜플,세트,딕셔너리 1번
def main1(list1):
  list2 = set(list1)
  list2 = list(list2)
  list2.sort()
  print(list1)
  print(list2)

my_list = list()
for i in range(5):
  my_list.append(int(input("임의의 정수값을 입력하세요 : ")))
  
main1(my_list)

[7, 6, 5, 78, 3]
[3, 5, 6, 7, 78]

In [ ]:
#튜플,세트,딕셔너리 2번

def main2():
  dic = {x:x*x for x in range(1,11)}
  print(dic)

main2()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [165]:
#튜플,세트,딕셔너리 3번

def main3():
  d = {"apple" : 1, "banana" : 2, "grape" : 3}
  for key, num in d.items():
    print(key," -> ",num)

main3()

apple  ->  1
banana  ->  2
grape  ->  3

In [167]:
#튜플,세트,딕셔너리 4번
def main4():
  d = {1:10,2:20,3:30,4:40,5:50,6:60}
  key = int(input("키를 입력하세요 : "))
  if key in d:
    print("키 %d은(는) 딕셔너리에 있음."% key)
  else:
    print("키 %d은(는) 딕셔너리에 없음."% key)
    
main4()

키 5은(는) 딕셔너리에 있음.

In [ ]:
#튜플,세트,딕셔너리 5번

def main5():
  myDict = {"옷":100, "컴퓨터":2000, "모니터":320}