In [27]:
3 ** 3

27

In [7]:
name = input("이름이 무엇인가요?")
print("만나서 반갑니다 " + name + " 씨")
age = input("나이는요?")
print("네, 그러면 당신은 이미 " + age + " 살이시군요")

만나서 반갑니다 나 씨
네, 그러면 당신은 이미 12 살이시군요

In [2]:
x = int(input("첫 번째 정수: "))
y = int(input("두 번째 정수: "))
sum =  x + y
print("합은 ", sum)

합은  46

In [4]:
a = 0.1
b = 0.2
a+b

0.30000000000000004

In [8]:
10 == "10"

False

In [12]:
message = 'doesn\'t'
print(message)

doesn't

In [14]:
a = "첫 번째 줄\n두 번째 줄"
print(a)

첫 번째 줄
두 번째 줄

In [23]:
message = "현재 시간은 %s 입니다, 그리고 온도는 %d도입니다."
time = "12:00pm"
temp = 25
print(message % (time, temp))

현재 시간은 12:00pm 입니다, 그리고 온도는 25도입니다.

In [29]:
message = "오늘은 %s월 %s일입니다."
x = input("월")
y = input("일")
print(message % (x , y))

오늘은 7월 3일입니다.